.css-8kh3x9 {
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 2px 8px;
    margin-bottom: 15px;
}

#myChart{
    padding: 0px 12px 12px;
    /* height: 23rem!important;width: 24rem!important; */
    position: relative;
    top: 29px;
  
  }
  .parentDiv{
    flex-direction: column!important;
  }
  .parentDiv_child{
    max-width: 100%!important;
  }
  .parentDiv_second_child{
    width: 100%!important;
  }
  .parentDiv_display{
    display: -webkit-box!important;
  }
  #tag_types{
    padding: 0px 12px 12px;
  }
.ant-card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

div {
    display: block;
}

/* toogle button css */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  top:2.5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
    width: 45px;
    height: 21px;
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}